#box{
    background-image: url("img/figure.png");
    width: 800px;
    height: 800px;
    display: block;
    position: relative;
    margin-left: 30em;
  

}

#box img {
    position: absolute;
}

/* https://www.winxclub.com/en/article/bedroom-special */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/img/bloomroom_wallpaperzoom.jpg");  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color: rgb(143, 212, 213);
    color: aliceblue;
    height: 5em;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
#musicBox {
    width: 10em; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute; 
    left: 0em; 
    top: 2em;
    border-radius: 1em;
    margin-top: 5em ;
    background-color: white;
    margin-left: 1em;
    
}

#timerBox {
    width: 10em; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute; 
    left: 1em;
    top: 20em; 
    border-radius: 1em;
    background-color: white;
}

#doneButton, #timeButton {
    background-color: rgb(255, 212, 249);
    border: navy;
    border-radius: 1em;
    border-color: rgb(240, 248, 255);
    height: 3em;
    width: 4em;
    margin-bottom: 1em;

}


#musicBox img {
    width: 100%;
    height: auto; 
}

footer{
    background-color: rgb(143, 212, 213);
    color: rgb(240, 248, 255);
    height: 5em;
    display: flex;
    justify-content: center;

}

#buttons{
    padding: 1em;
    margin-top: 0.25em;
    gap: 0.5em;
    
}

button:hover {
  color: navy
}

#topButton,
#bottomButton,
#dressButton{
    background-color: rgb(212, 254, 255);
    border: navy;
    border-radius: 2em;
    border-color: rgb(240, 248, 255);
    height: 3em;
    width: 7em;
}

